.registration{
    width: 500px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 20px 0 ;
    border: none;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;

    .registration-closeBtn{
        position: relative;

        button{
            position: absolute;
            right: 0;
            border: none;
            background: white;
            font-weight: 900;
            cursor: pointer;

            &:hover{
                color: red;
            }
        }
    }

    .registration-title{
        text-align: center;
        font-family: sans-serif;
        padding: 20px;
        box-sizing: border-box;
        border-bottom: 1px solid grey;

        p{
            margin-top: 5px;
            font-size: 14px;
        }
    }
    
    .registration-data{
        display: grid;
        justify-items: center;
        margin-top: 20px;
        grid-template-areas:
            "name surname"
            "email email"
            "password password"
        ;

        & > .nameInp {
            grid-area: name;
            width: 98%;
        }
        & > .surnameInp {
            grid-area: surname;
            width: 98%;
        }
        & > .emailInp {
            grid-area: email;
            width: 100%;
            margin: 20px auto;
        }
        & > .passwordInp {
            grid-area: password;
            width: 100%;
        }

        input{
            height: 35px;
            padding: 0 10px;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid grey;
        }
    }

    p{
        margin-top: 20px;
        font-family: sans-serif;
        font-size: 12px;
        color: #606770;
    }

    .registration-date{
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        select{
            width: 30%;
            height: 35px;
            border-radius: 5px;
        }
    }

    .registration-sex{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .registration-sex-people{
            width: 150px;
            height: 35px;
            border: 1px solid grey;
            border-radius: 5px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }

    .registration-regBtn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        button{
            width: 180px;
            height: 40px;
            margin-top: 30px;
            background: #00a400;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }
    }
}